@import "normalize";

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1128px;

    .gallery-image {
        width: 360px;
        height: 200px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            transform: scale(1.04444);
        }
    }
}

.modal {
    position: relative;
    padding: 20px 0;

    .modal-image {
        width: 900px;
        max-width: 100%;
        height: auto;
    }

    .close {
        position: absolute;
        top: 25px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fff;

        &:hover {
            fill: #fff;
            background-color: #404bbf;
        }
    }
}